.reservation-edit{
    margin-inline: 5px;
}

.field-group{
    display: flex;
    flex-direction: column;
    
}

.field-group label {
    font-size: 16px;
}

.field-group input,select {
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-block: 5px;
}

.fieldGroup-title-button{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(195, 186, 186);
    border-radius: 20px;
    margin-inline: 5px;
    margin-block: 5px;
}

.fieldGroup-title-button i{
    padding-block:5px;
    margin-block: 5px;
    font-size: 20px;
    padding-inline: 10px;
    margin-inline: 10px;
    background-color: green;
    border-radius: 12px;
}

.fieldGroup-title-button label{
    font-size: 20px;
    padding-block:10px;
    padding-inline: 20px;

}