.fieldGroup-selectButton {
    display: flex;
    justify-content: space-between;
}

.fieldGroupSelectButton-icon {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #38B2AC;
    border-radius: 8px;
}

.fieldGroupSelectButton-select{
    width: 85%;;
}